a {
    color: #d9534f;
    text-decoration: none;
}

a:hover {
    color: #990000;
    text-decoration: none;
}

body {
    background: url("grid.png");
}

.form-control:focus{
    border-color:#d9534f;
    outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217,83,79,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217,83,79,.6)
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #d9534f;
    border-color: #d9534f;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #d9534f;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.pagination>li>a:hover, .pagination>li>span {
    color: #990000;
}

.red {
    color: #990000;
    text-decoration: none;
}

.red:hover {
    color: #800000;
    text-decoration: none;
}
